<footer class="header">
    <div class="container">
      <div class="header-inner">
  
        <div class="logo">
          <h1 class="logo-title">Betty Butter</h1>
        </div>
  
        <nav class="nav">
          <ul class="nav-menu">
              <li class="nav-menu-item">
                  <img src="/assets/icons/Instagram 1.png" />
              </li>
              <li class="nav-menu-item1">
                  <img src="/assets/icons/pinterest.png" />
  
              </li>
              <li class="nav-menu-item">
                  <img src="/assets/icons/Behance 1.png" />
  
              </li>
  
          </ul>
  
        </nav>
  
        <p class="text">
          All rights reserved, 2020
        </p>
      </div>
    </div>
  </footer>
  
