<section class="client" id="client">
    <h2>What My Client Says</h2>
    <div class="model-container">

        <img class="about-img" src="assets/images/client-image.png" alt="" />

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">
                            "The ease of delivery is unique and their styles
                             are best suit for a glowing effect. Their services
                             is awesome"
                        </p>
                        <p class="card-footer text-muted" style="color:#2B7A78;">
                            - Bernie Cindy
                        </p>
                    </div>
                </div>
            </div>
        </div>


      <!-- <p class="text">
        “The ease of delivery is unique and their styles<br>
         are best suit for a glowing effect. Their services<br>
         is awesome”
      </p>
      <p class="card-footer text-muted">
        - Bernie Cindy, NYC
      </p> -->


    </div>


  
</section>
