<!-- <section id="about" data-aos="fade-right" data-aos-offset="600"> -->
    <!-- <section #about id="about">
        <div class="lax container" data-lax-preset="spin fadeInOut">
            <div class="row">
                <div #img class="col-12 col-lg-6 d-flex justify-content-center align-items-start mb-3">
                    <img class="about-img" src="assets/images/about-img.png" alt="" />
                </div>

                <div class="col-12 col-lg-6">
                  
                    <h2 #text2 class="about-header mb-4">About Me
                        <span class="bold">
                            Making Your Stay
                            <span class="underline">
                                An Authentic Experience
                            </span>
                        </span>
                    </h2>
                    <p #text3 class="about-text2 mb-4">Blue Star accomodate guests in our four storey building categories of
                        numbers
                        include 34 rooms in
                        blue star hotel in which there is a safe, a tea pot, a minimal television set, an hair dryer, a
                        bathroom, a free wifi and many more. </p>
                    <p #text4 class="about-text2">Our hotel is the right choice for visitors who are seraching for a convinent
                        position from where to
                        explore surrondings</p>
                </div>
            </div>
        </div>
    </section> -->

    <section class="container" id="About">
        <div class="model-container">
          <div class="img-box">
            <img class="about-img" src="assets/images/about-img.png" alt="" />
          </div>
        </div>
      
        <div class="about-text">
          <p class="about-title">About Me</p>
      
          <p class="text">
            I deliver the most unique and glamourous makeup artistry in all of NYC. My
            work span across production set makeup, bridal & events makeup and
            costume.
          </p>
        </div>
      </section>