<section class="gallery">

    <div>
      <h1>Gallery</h1>
    </div>

    <div class="gallery-box">
      <div class="img-box">
        <div class="image-set-1">
          <div class="image-container">
            <img class="img-1" src="/assets/images/gallery-image-1.png" />
          </div>
          <div class="image-container">
            <img class="img-2" src="/assets/images/gallery-image-2.png" />
          </div>
        </div>
      
        <div class="image-set-2">
          <div class="image-container">
            <img class="img-3" src="/assets/images/gallery-image-3.png" />
          </div>
          <div class="image-container">
            <img class="img-4" src="/assets/images/gallery-image-4.png" />
          </div>
        </div>
      </div>
      
      <div class="img-box2">
        <div class="image-set-1">
          <div class="image-container">
            <img class="img-5" src="/assets/images/gallery-image-5.png" />
          </div>
          <div class="image-container">
            <img class="img-6" src="/assets/images/gallery-image-6.png" />
          </div>
          <div class="image-container">
            <img class="img-7" src="/assets/images/gallery-image-7.png" />
          </div>
        </div>
      </div> 

    </div>
  

    
    <div>
      <button class="view-more">VIEW MORE</button>
    </div>
  
  </section>
