

  <h2>My Services</h2>

  <section class="service-page">
    

    <div class="service-page-container">
      <div class="service-page-box">
        <div class="image-first-box">
          <img class="img-1" src="/assets/images/service-image-1.png" />
          <p class="text-1">Production Makeover</p>
        </div>
  
        <div class="image-second-box">
          <img class="img-2" src="/assets/images/service-image-2.png" />
          <p class="text-2">Celebrity Makeover</p>
        </div>
  
      </div>
    
      <div class="service-page-box">
        <div class="image-third-box">
          <img class="img-3" src="/assets/images/service-image-3.png" />
          <p class="text-2">Home Makeover</p>
        </div>
        <div class="image-fourth-box">
          <img class="img-4" src="/assets/images/service-image-4.png" />
          <p class="text-2">Wedding Makeover</p>
        </div>
      </div>
    </div>
    

  
  </section>