<section class="cta-container">
    <div class="cta-semi">
      <div class="cta-img">
        <div>
          <img class="images1" src="assets/images/service-image-2.png" alt="" />
        </div>
  
        <div>
          <img class="images" src="assets/images/service-image-4.png" alt="" />
        </div>
  
        <div>
          <img class="images" src="assets/images/service-image-1.png" alt="" />
        </div>
  
        <div>
          <img class="images" src="assets/images/gallery-image-6.png" alt="" />
        </div>
  
        <div>
          <img class="images" src="assets/images/gallery-image-1.png" alt="" />
        </div>
  
        <div class="overlay-content">
          <div>
            <p class="overlay-text-1">Let’s Keep in Touch!</p>
          </div>
          <div>
            <p class="overlay-text-2">Provide a valid mailing address below</p>
          </div>
        </div>
      </div>
  
      <form class="cta-form">
        <input class="cta-input" type="text" placeholder="Email Address" />
        <button class="subscribe-btn" type="button">Subscribe</button>
      </form>
    </div>
  </section>